@page
@model Dot_NET_CRUD_Project.Pages.PartNumbersPage.EditModel

@{
    ViewData["Title"] = "Edit Part Number";
}

<div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-3"></div>
        <div class="col-md-4 card shadow p-3 mb-5 bg-white rounded">
        <h4>Edit: Part Numbers</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PartNumbers.PKPartNumber" />
                <div class="form-group">
                    <label asp-for="PartNumbers.PartNumber" class="control-label"></label>
                    <input asp-for="PartNumbers.PartNumber" class="form-control" />
                    <span asp-validation-for="PartNumbers.PartNumber" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PartNumbers.Available" /> @Html.DisplayNameFor(model => model.PartNumbers.Available)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="PartNumbers.FKCustomer" class="control-label"></label>
                    <select asp-for="PartNumbers.FKCustomer" class="form-control" asp-items="ViewBag.FKCustomer"></select>
                    <span asp-validation-for="PartNumbers.FKCustomer" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn" />
                </div>
            </form>
        <hr />
        <div>
            <a class="btn" asp-page="./Index">Back to List</a>
        </div>
        </div>
    <div class="col-3"></div>
    
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
