@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>

</div>

<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <h4>About The Project</h4>
        <br>

        This is a C# CRUD (Create, Read, Update, Delete) project built using the following technologies:
        <ul>
            <li>C# for the main programming language</li>
            <li>Entity Framework Core for data access and management</li>
            <li>Razor Pages for building the web interface</li>
            <li>SQL Server for storing the data</li>
            <li>ClosedXML for exporting data to Excel</li>
            <li>Bootstrap for styling and layout</li>
        </ul>
        
        <p>
        The project was designed as an exercise for an interview for a developer position. 
        It is a simple web application that allow CRUD operations on a database of Buildings, Customers and PartNumbers tables. Additionally, the project has implemented functionality to export data to excel using ClosedXML library. 
        The user interface is built using Razor Pages and Bootstrap for a responsive and user-friendly experience.
            The goal of this project is to showcase the developer's (<a href="https://github.com/PhoenixIgnis">Me</a>) skills in using the above technologies.
        </p>
    </div>
</div>


